* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #696969;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }

  /* Navigation menu styling */
  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }

  /* Button style for navigation links */
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
  }

  /* Hover effect for buttons */
  .button:hover {
    background-color: #777;
    border-color: #fff;
  }

  /* Responsive design for small screens */
  @media (max-width: 600px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  }

section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], select, input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
